<div class="col-7">
    <div class="mb-3">
        <div class="mb-5">
            <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
                <%= image_tag "back.png", size: "28x28", class: "me-4" %>
                <span style="position:relative; top: 2px;"><%= current_user.username %></span>
                <span class="text-muted fs-6" style="position:relative; top: 2px;"><%= pluralize(current_user.tweets.size, "Tweet") %></span>
            <% end %>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div>
                <% if current_user.avatar.present? %>
                    <%= image_tag current_user.avatar, class: "rounded-circle", size: "150x150" %>
                <% else %>
                    <%= image_tag "user.png", class: "rounded-circle", size: "150x150" %>
                <% end %>
            </div>
            <div>
                <%= button_tag 'Edit profile', class: "btn btn-outline-secondary rounded-pill w-100", data: { "bs-toggle": "modal", "bs-target": "#profileEditModal" } %>
            </div>
        </div>

        <%= render "profile_section" %>
    </div>
</div>

<div class="col">
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>


<!-- Modal -->
<div class="modal" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: current_user, url: profile_path, data: { controller: 'tweet-form' }, class: "row g-3", locals: true, method: :put do |f| %>
            <form class="row g-3">
                <div class="col-md-12">
                    <%= f.label :username, class: "form-label" %>
                    <%= f.text_field :username, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :display_name, class: "form-label" %>
                    <%= f.text_field :display_name, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :email, class: "form-label" %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :email, class: "form-label" %>
                    <%= f.email_field :email, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :bio, class: "form-label" %>
                    <%= f.text_area :bio, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :location, class: "form-label" %>
                    <%= f.text_field :location, class: "form-control" %>
                </div>
                <div class="col-md-12">
                    <%= f.label :url, class: "form-label" %>
                    <%= f.text_field :url, class: "form-control" %>
                </div>

                <div class="col-md-12">
                    <%= f.submit "Update profile", class: "btn btn-twitter rounded-pill" %>
                </div>
            </form>      
        <% end %>  
      </div>
    </div>
  </div>
</div>
