<div class="col">
    <div class="mb-5">
        <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
            <%= image_tag "back.png", size: "28x28", class: "me-4" %>
            <span style="position:relative; top: 2px;">Messages</span>
        <% end %>
    </div>

    <div class="d-flex py-3 px-3">
        <div class="flex-shrink-0">
            <% if @new_message_thread_user.avatar.present? %>
                <%= image_tag @new_message_thread_user.avatar, size: "48x48", class: "rounded-circle" %>
            <% else %>
                <%= image_tag "user.png", size: "48x48", class: "rounded-circle" %>
            <% end %>
        </div>
        <div class="flex-grow-1 ms-3">
            <div>
                <span class="mr-3 fw-bold"><%= @new_message_thread_user.display_name %></span>
                <span class="text-muted">@<%= @new_message_thread_user.username %></span>
            </div>
        </div>
    </div>

</div>

<div class="col-6">
    <div class="vh-100 position-relative">
        <div class="position-absolute w-100 bottom-0">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type your message...">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"><%= image_tag "send.png", size: "17x17" %></button>
            </div>
        </div>
    </div>
</div>