<div class="col" data-controller="messages">
    <div class="mb-5">
        <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
            <%= image_tag "back.png", size: "28x28", class: "me-4" %>
            <span style="position:relative; top: 2px;">Messages</span>
        <% end %>
    </div>

    <% if @new_message_thread_user.present? %>
        <div class="d-flex py-3 px-3">
            <div class="flex-shrink-0">
                <% if @new_message_thread_user.avatar.present? %>
                    <%= image_tag @new_message_thread_user.avatar, size: "48x48", class: "rounded-circle" %>
                <% else %>
                    <%= image_tag "user.png", size: "48x48", class: "rounded-circle" %>
                <% end %>
            </div>
            <div class="flex-grow-1 ms-3">
                <div>
                    <span class="mr-3 fw-bold"><%= @new_message_thread_user.display_name %></span>
                    <span class="text-muted">@<%= @new_message_thread_user.username %></span>
                </div>
            </div>
        </div>
    <% end %>

    <% @message_threads.each do |message_thread| %>
        <% other_user = message_thread.users.where.not(id: current_user.id).first %>
        <div data-messages-target="messageThread" data-message-thread-id="<%= message_thread.id %>" data-messages-target-user-id="<%= other_user.id %>" class="d-flex py-3 px-3 message-thread">
            <div class="flex-shrink-0">
                <% if other_user.avatar.present? %>
                    <%= image_tag other_user.avatar, size: "48x48", class: "rounded-circle" %>
                <% else %>
                    <%= image_tag "user.png", size: "48x48", class: "rounded-circle" %>
                <% end %>
            </div>
            <div class="flex-grow-1 ms-3">
                <div>
                    <span class="mr-3 fw-bold"><%= other_user.display_name %></span>
                    <span class="text-muted">@<%= other_user.username %></span>
                </div>
            </div>
        </div>
    <% end %>

</div>

<div class="col-6">
    <div class="vh-100 position-relative">
        <%= render "messages", messages: @messages %>
        <div class="position-absolute w-100 bottom-0">
            <%= render 'messages/form', user: @user %>
        </div>
    </div>
</div>