<div id="tweet_stats">
    <div class="d-flex justify-content-start mb-4">
        <div class="me-4"><span class="fw-bold"><%= tweet_presenter.views_count %></span> Views</div>
        <div class="me-4"><span class="fw-bold"><%= tweet_presenter.retweets_count %></span> Retweets</div>
        <div class="me-4"><span class="fw-bold"><%= tweet_presenter.likes_count %></span> Likes</div>
    </div>

    <div class="d-flex justify-content-evenly align-items-center action-links">
        <div>
            <%= link_to "#", class: "text-decoration-none text-black views" do %>
                <%= image_tag "bar-graph.png", size: "24x24", class: "me-1" %>
                
            <% end %>
        </div>
        <div>
            <%= link_to tweet_path(tweet_presenter.tweet), class: "text-decoration-none text-black replies" do %>
                <%= image_tag "speech-bubble.png", size: "24x24", class: "me-1" %>
                
            <% end %>
        </div>
        <div>
            <%= link_to tweet_presenter.retweet_tweet_url(source: "tweet_show"), data: { "turbo-method": tweet_presenter.turbo_retweet_data_method }, class: "text-decoration-none text-black retweets" do %>
                <%= image_tag tweet_presenter.retweet_image, size: "24x24", class: "me-1" %>
            <% end %>
        </div>
        <div>
            <%= link_to tweet_presenter.like_tweet_url(source: "tweet_show"), data: { "turbo-method": tweet_presenter.turbo_like_data_method }, class: "text-decoration-none text-black likes" do %>
                <%= image_tag tweet_presenter.like_image, size: "24x24", class: "me-1" %>
            <% end %>
        </div>
        <div>
            <%= link_to tweet_presenter.bookmark_tweet_url(source: "tweet_show"), data: { "turbo-method": tweet_presenter.turbo_bookmark_data_method }, class: "text-decoration-none text-black bookmarks" do %>
                <%= image_tag tweet_presenter.bookmark_image, size: "24x24", class: "me-1" %>
            <% end %>
        </div>
    </div>
</div>
