<% if tweet_presenter.render_tweet_activity? %>
    <%= sanitize(tweet_presenter.tweet_activity_html) %>
<% end %>
<%= turbo_frame_tag dom_id(tweet_presenter.tweet) do %>

    <div data-controller="tweet-card" data-tweet-path="<%= tweet_path(tweet_presenter.tweet) %>" class="tweet py-3 px-3 d-flex hover">
        <div class="flex-shrink-0">
            <%= image_tag tweet_presenter.avatar, size: "50x50", class: "rounded-circle" %>
        </div>
        <div class="flex-grow-1 ms-3">
            <p class="mb-0"><span class="fw-bolder"><%= tweet_presenter.display_name %> </span> <span class="text-muted">@<%= tweet_presenter.username %></span> · <%= tweet_presenter.created_at %></p>
            <%= sanitize(tweet_presenter.body_html) %>

            <div class="d-flex justify-content-between align-items-center action-links">
                <div>
                    <%= link_to "#", data: { "ignore-click":true }, class: "text-decoration-none text-black views" do %>
                        <%= image_tag "bar-graph.png", size: "20x20", class: "me-1" %>
                        <span><%= tweet_presenter.views_count %></span>
                    <% end %>
                </div>
                <div>
                    <%= link_to tweet_path(tweet_presenter.tweet), data: { "ignore-click":true }, class: "text-decoration-none text-black replies" do %>
                        <%= image_tag "speech-bubble.png", size: "20x20", class: "me-1" %>
                        <span><%= tweet_presenter.reply_tweets_count %> </span>
                    <% end %>
                </div>
                <div>
                    <%= link_to tweet_presenter.retweet_tweet_url, data: { "ignore-click":true, "turbo-method": tweet_presenter.turbo_retweet_data_method }, class: "text-decoration-none text-black retweets" do %>
                        <%= image_tag tweet_presenter.retweet_image, size: "20x20", class: "me-1" %>
                        <span><%= tweet_presenter.retweets_count %></span>
                    <% end %>
                </div>
                <div>
                    <%= link_to tweet_presenter.like_tweet_url, data: { "ignore-click":true, "turbo-method": tweet_presenter.turbo_like_data_method }, class: "text-decoration-none text-black likes" do %>
                        <%= image_tag tweet_presenter.like_image, size: "20x20", class: "me-1" %>
                        <span><%= tweet_presenter.likes_count %></span>
                    <% end %>
                </div>
                <div>
                    <%= link_to tweet_presenter.bookmark_tweet_url, data: { "ignore-click":true, "turbo-method": tweet_presenter.turbo_bookmark_data_method }, class: "text-decoration-none text-black bookmarks" do %>
                        <%= image_tag tweet_presenter.bookmark_image, size: "20x20", class: "me-1" %>
                        <span><%= tweet_presenter.bookmark_text %></span>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%# if tweet_presenter.tweet.parent_tweet_id.present? %>
    <%# current_user.tweet_activities.where(verb: "replied", tweet: tweet_presenter.tweet).each do |tweet_activity| %>
        <%#= tweet_activity.tweet.parent_tweet.body %>
    <%# end %>
<%# end %>
