<%= turbo_frame_tag dom_id(tweet_presenter.tweet) %>

<div class="tweet py-3 px-3 d-flex">
    <div class="flex-shrink-0">
        <%= image_tag tweet_presenter.avatar, size: "48x48", class: "rounded-circle" %>
    </div>
    <div class="flex-grow-1 ms-3">
        <p class="mb-0"><span class="fw-bolder"><%= tweet_presenter.display_name %> </span> <span class="text-muted">@<%= tweet_presenter.username %></span> · <%= tweet_presenter.created_at %></p>
        <p class="mb-0"><%= tweet_presenter.body %></p>
    </div>
</div>