<div class="col-7">
    <div class="mb-3">
        <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
            <%= image_tag "back.png", size: "28x28", class: "me-4" %>
            <span style="position:relative; top: 2px;">Tweet</span>
        <% end %>

        <div data-tweet-path="<%= tweet_path(@tweet_presenter.tweet) %>" class="tweet py-3 px-3 d-flex">
            <div class="flex-shrink-0">
                <%= image_tag @tweet_presenter.avatar, size: "46x50", class: "rounded-circle" %>
            </div>
            <div class="flex-grow-1 ms-3">
                <p class="fw-bolder mb-0"><%= @tweet_presenter.display_name %></p>
                <p class="text-muted mb-1">@<%= @tweet_presenter.username %></p>
               <p class="fs-2 mb-1"><%= @tweet_presenter.body %></p>
                <p class="text-muted"><%= @tweet_presenter.tweet.created_at.strftime("%l:%M %p") %> · <%= @tweet_presenter.tweet.created_at.strftime("%b %d, %Y") %></p>

                <%= render "show_stats", tweet_presenter: @tweet_presenter %>
            </div>
        </div>

    </div>
</div>

<div class="col">
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
</div>
