<%= turbo_frame_tag "profile_section" do %>
    <div id="profile_section">
        <div class="mb-5">
            <%= link_to :back, class: "fs-4 text-decoration-none text-black fw-semibold" do %>
                <%= image_tag "back.png", size: "28x28", class: "me-4" %>
                <span style="position:relative; top: 2px;"><%= @user.username %></span>
                <span class="text-muted fs-6" style="position:relative; top: 2px;"><%= pluralize(@user.tweets.size, "Tweet") %></span>
            <% end %>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-5">
            <div>
                <% if @user.avatar.present? %>
                    <%= image_tag @user.avatar, class: "rounded-circle", size: "150x150" %>
                <% else %>
                    <%= image_tag "user.png", class: "rounded-circle", size: "150x150" %>
                <% end %>
            </div>

            <% if controller_name == 'profiles' %>
                <div><%= button_tag 'Edit profile', class: "btn btn-outline-secondary rounded-pill w-100", data: { "bs-toggle": "modal", "bs-target": "#profileEditModal" } %></div>
            <% else %>
                <div>
                    <%= link_to message_threads_path(user_id: @user.id), class: "btn btn-outline-secondary rounded-pill" do %>
                        <%= image_tag 'envelope.png', size: '25x25' %>
                        Message
                    <% end %>
                    <%= render 'users/follow_button', user: @user, current_user: current_user %>
                </div>
            <% end %>
        </div>
        
        <div>
            <p class="fs-3 fw-semibold mb-0"><%= user.display_name %></p>
            <p class="fs-3 fw-semibold mb-0"><%= user.username %></p>
            <p><%= user.bio %></p>
            <div class="d-flex justify-content-start mb-3">
                <div class="me-4">
                    <%= image_tag "location.png", size: "23x23", class: "me-1" %>
                    <span class="text-muted"><%= user.location %></span>
                </div>
                <div class="me-4">
                    <%= image_tag "url.png", size: "23x23", class: "me-1" %>
                    <span class="text-muted"><%= link_to user.profile_url, user.profile_url, target: :_blank %></span>
                </div>
                <div class="me-4">
                    <%= image_tag "calendar.png", size: "23x23", class: "me-1" %>
                    <span class="text-muted"><%= user.created_at.strftime("%B %Y") %></span>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <div class="me-4"><span class="fw-semibold"><%= user.followings_count %></span> Following</div>
                <div class="me-4"><span class="fw-semibold"><%= user.followers_count %></span> Followers</div>
            </div>
        </div>
    </div>
<% end %>
