<div class="col-7">
    <div class="mb-5">
        
        <%= render "users/profile_section", user: @user, current_user: current_user %>

        <div id="tweets-collection">

            <%= render "users/tweets_collection", tweet_presenters: @tweet_presenters %>
        </div>
        
    </div>
</div>

<div class="col">
    <div class="hashtag-sidebar p-2 rounded">
        <p class="p-2 fs-4 fw-bold mb-0">What's happening</p>
        <% Hashtag.limit(5).each do |hashtag| %>
            <div class="item p-2" data-controller="hashtag" data-url="<%= hashtag_path(hashtag) %>">
                <p class="fw-bold mb-0 fs-5"><%= hashtag.tag %> </p>
                <p class="text-muted fs-6 mb-0"><%= pluralize(hashtag.tweets.size, "Tweet") %> </p>
            </div>
        <% end %>
        <%= link_to "Show more", hashtags_path, class: "twitter-link p-2" %>
    </div>
</div>

<% if controller_name == "profiles" %>
    <!-- Modal -->
    <div class="modal" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close mx-0 close-modal-btn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%= form_with model: current_user, url: profile_path, data: { controller: 'tweet-form' }, class: "row g-3", locals: true, method: :put do |f| %>
                <form class="row g-3">
                    <div class="col-md-12">
                        <%= f.label :username, class: "form-label" %>
                        <%= f.text_field :username, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :display_name, class: "form-label" %>
                        <%= f.text_field :display_name, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :avatar, class: "form-label" %>
                        <%= f.file_field :avatar, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :email, class: "form-label" %>
                        <%= f.email_field :email, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :bio, class: "form-label" %>
                        <%= f.text_area :bio, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :location, class: "form-label" %>
                        <%= f.text_field :location, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :profile_url, "URL", class: "form-label" %>
                        <%= f.text_field :profile_url, class: "form-control" %>
                    </div>

                    <div class="col-md-12">
                        <%= f.submit "Update profile", class: "btn btn-twitter rounded-pill" %>
                    </div>
                </form>      
            <% end %>  
        </div>
        </div>
    </div>
    </div>
<% end %>
